# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
.cache/
env/
venv/

# Image gallery cache & data
cache/
images/
images/thumbs/
images/metadata.json

# Large source images
*.tif
*.tiff
*.avif
*.hdr

# OS files
.DS_Store
Thumbs.db
